<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Conversor Mg Multicoisas</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="../static/css/loader.css">
    <link rel="stylesheet" href="../static/css/style.css">
</head>
<body>
    <div class="d-flex justify-content-center mt-4 mb-3">
        <!--<img src="{{ url_for('static', filename='images/mg.png') }}" alt="Imagem da Mg Multicoisas" id="mg-multicoisas">-->
    </div>
    <!--<h1 class="mt-3 mb-4">Conversor da Mg Multicoisas</h1>-->
    <div class="container">
        <div class="d-flex justify-content-center mb-3" style="gap: 10px">
            <input type="text" class="main_input" placeholder="Converta sua música">
            <button id="select-directory">Escolher Diretório</button>
            <button type="button" class="btn btn-success" id="converter" >Converter</button>
        </div>
        <p id="directory-text">Local: C://Agostinho/Downloads</p>
        <div class="d-flex justify-content-center align-items-center mt-3" style="gap: 30px">
            <div class="d-flex justify-content-center" style="gap: 5px">
                <button type="button" class="btn btn-light" id="mp4">mp4</button>
                <button type="button" class="btn btn-primary" id="mp3">mp3</button>
            </div>
            <div class="d-flex justify-content-center"></div>
                <button type="button" class="btn btn-primary" id="musica">Música/Vídeo</button>
                <button type="button" class="btn btn-light" id="playlist">Playlist</button>
            </div>
        </div>
        <main class="row justify-content-center">
            <div id="center-area">
                <!-- <div class="col d-flex flex-column justify-content-center align-items-center mt-5">
                    <h2>Carregando Playlist</h2>
                    <img src="{{ url_for('static', filename='images/loading.gif') }}" alt="Loading do pacman">
                </div> -->
                <!--<div class="col d-flex justify-content-center mt-5" style="gap: 50px">
                    <img src="https://i.pinimg.com/564x/c7/5b/50/c75b501277d271ee8b225d90b8c17cab.jpg" alt="Imagem da música que está sendo baixada" class="poster">
                    <div>
                        <h2>Música topissima sendo tocada pelo careca Frei Gilson</h2>
                        <p>02:30 | mp3 | 63k</p>
                        <div class="loader">
                            <div class="loading-text">
                                Carregando<span class="dot">.</span><span class="dot">.</span
                                ><span class="dot">.</span>
                            </div>
                            <div class="loading-bar-background">
                                <div class="loading-bar">
                                    <div class="white-bars-container">
                                        <div class="white-bar"></div>
                                        <div class="white-bar"></div>
                                        <div class="white-bar"></div>
                                        <div class="white-bar"></div>
                                        <div class="white-bar"></div>
                                        <div class="white-bar"></div>
                                        <div class="white-bar"></div>
                                        <div class="white-bar"></div>
                                        <div class="white-bar"></div>
                                        <div class="white-bar"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>-->
            </div>
            <!--<h2>Fila de conversão</h2>-->
            <div class="row mt-5" style="width: 80%;">
                <div id="playlist-progress-main">
                    <p id="playlist-progress-title">Baixando 5 de 20</p>
                    <div class="playlist-progress mb-3">
                        <div id="playlist-loader-progress"></div>
                    </div>
                </div>
                <table class="table">
                    <thead>
                        <tr>
                            <th scope="col">Nome</th>
                            <th scope="col">Tipo</th>
                            <th scope="col">Duração</th>
                            <th scope="col">Status</th>
                        </tr>
                    </thead>
                    <tbody id="queue">
                        <tr>
                            <td>Música massa do Frei Gilson</td>
                            <td>mp3</td>
                            <td>02:30</td>
                            <td style="gap: 5px" class="d-flex align-items-center">
                                <span>Baixando</span>
                                <img src="../static/images/pacman.gif" alt="Loading do pacman" class="loading">
                            </td>
                        </tr>
                        <tr>
                            <td>Ninguem te ama como eu</td>
                            <td>mp4</td>
                            <td>05:40</td>
                            <td style="gap: 5px" class="d-flex align-items-center">
                                <span>Concluída</span>
                                <img src="../static/images/icons8-ok-32.png" alt="Icone de correto" class="loading">
                            </td>
                        </tr>
                        <tr>
                            <td>Quem é essa que avança como aurora</td>
                            <td>mp3</td>
                            <td>04:30</td>
                            <td style="gap: 5px" class="d-flex align-items-center">
                                <span>Concluída</span>
                                <img src="../static/images/icons8-ok-32.png" alt="Icone de correto" class="loading">
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </main>
    </div>
    <script src="../static/js/renderer.js"></script>
</body>
</html>