html, body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1 {
    text-align: center;
}

h2 {
    font-size: 1.8em;
}

.main_input {
    border-radius: 10px;
    border: 1px solid black;
    padding: 5px;
    width: 300px;
}

.separator {
    width: 10px;
    height: 40px;
    background-color: black;
    border-radius: 10px;
}

.poster {
    width: 200px;
    height: 200px;
    border-radius: 10px;
}

.loading {
    width: 30px;
    height: 30px;
}

.mg-multicoisas {
    width: 400px;
    border-radius: 10px;
}

.playlist-progress {
    width: 100%;
    height: 10px;
    background-color: rgba(177, 177, 177, 0.678);
    border-radius: 5px;
    padding: 0 !important;
}

#playlist-progress-main {
    display: none;
}

#playlist-loader-progress {
    width: 0;
    height: 10px;
    background-color: #198754;
    border-radius: 5px;
    padding: 0 !important;
}

#center-area {
    display: flex;
    justify-content: center;
}